    <!-- ADMIN FOOTER -->
    <footer class="Admin-Navigation-footer">
      <button class="Admin-Navigation-Action" id="users-navigation">
        <i class="Admin-Navigation-Action-icon fas fa-users"></i>
        <span class="Admin-NavigationAction-label">Usuarios</span>
      </button>
      <button class="Admin-Navigation-Action" id="products-navigation">
        <i class="Admin-Navigation-Action-icon fas fa-box"></i>
        <span class="Admin-Navigation-Action-label">Productos</span>
      </button>
    </footer>