<div class="main-header-top-bar">
  <img class="logo" src="/images/Logo.svg" alt="Logo de la página" />
  <nav class="main-nav-bar">
    <ul>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/productos">Tienda </a>
      </li>
      <li>
        <a href="#footer-container">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="left-menu">
    <a href="/login"><i class="fa-solid fa-user fa-2xl icon-big"></i></a>

    <div id="container-icon">
      <div class="container-cart-icon">
        <a href="/cart"
          ><i class="fa-solid fa-cart-shopping fa-2xl icon-big"></i
        ></a>
        <div class="count-products">
          <span id="contador-productos">0</span>
        </div>
      </div>

      <div class="container-cart-products hidden-cart">
        <div class="cart-product">
          <div class="info-cart-product">
            <span class="cantidad-producto-carrito">1</span>
            <p class="titulo-producto-carrito">bici 12</p>
            <span class="precio-producto-carrito">$800</span>
          </div>
        </div>

        <div class="cart-total hidden">
          <h3>Total:</h3>
          <span class="total-pagar">$20000</span>
        </div>
        <p class="cart-empty">El carrito está vacío</p>
      </div>
    </div>

    <div class="top-right-menu">
      <span>|</span>
      <a href="#menu" id="menu-button"
        ><i class="fa-solid fa-bars fa-2xl icon-big"></i
      ></a>
      <a href="#menu" id="menu-button"
        ><i class="fa-solid fa-bars icon-small"></i
      ></a>
    </div>
  </div>

  <!-- Menú lateral -->
  <div id="menu">
    <a class="equis-link" href="#">
      <i class="fa-solid fa-xmark equis"></i>
    </a>

    <% if (user) { %> <% if (user.image && user.image.length > 0) { %>
    <img class="user-img" src="<%= user.image %>" alt="Imagen de usuario" />
    <% } else { %>
    <img class="user-img" src="/images/no-user.jpg" alt="Imagen de usuario" />
    <% } %>
    <br />
    <p><%= user.firstName %></p>
    <p><%= user.email %></p>
    <br />
    <ul id="user-actions">
      <li><a href="/login/sign-out">Cerrar sesión</a></li>
    </ul>
    <% } else { %>
    <p id="init-session">Inicia sesión para ver contenido personalizado</p>
    <% } %>
  </div>
</div>
