    <div class="main-header-top-bar">
      <img class="logo" src="/images/Logo.svg" alt="Logo de la página" />
      <nav class="main-nav-bar">
        <ul>
          <li>
            <a href="/"">Inicio</a>
          </li>
          <li>
            <a href="/productos">Tienda </a> </li> <li>
              <a href="#footer-container">Contacto</a>
          </li>
        </ul>
      </nav>
      <div class="left-menu">
        <a href="/login"><i class="fa-solid fa-user fa-2xl icon-big"></i></a>
        <a href="/cart"> <i class="fa-solid fa-cart-shopping fa-2xl icon-big"></i></a>
        <div class="top-right-menu">
          <span>|</span>
          <a href="#menu" id="menu-button"><i class="fa-solid fa-bars fa-2xl icon-big"></i></a>
          <a href="#menu" id="menu-button"><i class="fa-solid fa-bars icon-small"></i></a>
        </div>
      </div>

  <!-- Menú lateral -->
  <div id="menu">
    <!-- Contenido del menú -->
    <ul id="user-actions">
      <li><a href="#">Cerrar Menu</a></li>
      <li><a href="#">Cerrar sesión</a></li>
      <li><a href="#">Opción 3</a></li>
    </ul>
  </div>

    </div>