  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="icon" href="/images/pedal.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/pedal.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/search.css"/>
  <link rel="stylesheet" href="/css/footer.css"/>
  <link rel="stylesheet" href="/css/header.css"/>
  <link rel="stylesheet" href="/css/style.css"/>