    <div class="main-header-top-bar">
      <img class="logo" src="/images/Logo.svg" alt="Logo de la página" />
      <nav class="main-nav-bar">
        <ul>
          <li>
            <a>Inicio</a>
          </li>
          <li>
            <a href="/productos">Tienda</a>
          </li>
          <li>
            <a>Contacto</a>
          </li>
        </ul>
      </nav>
      <div class="left-menu">
        <a href="/login"><i class="fa-solid fa-user fa-2xl icon-big"></i></a>
        <i class="fa-solid fa-cart-shopping fa-2xl icon-big"></i>
        <div class="top-right-menu">
          <span>|</span>
          <i class="fa-solid fa-bars fa-2xl icon-big"></i>
          <i class="fa-solid fa-bars icon-small"></i>
        </div>
      </div>
    </div>