<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>.pedal</title>
  <link rel="icon" href="images/pedal.ico" type="image/x-icon">
  <link rel="shortcut icon" href="images/pedal.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <link rel="stylesheet" href="css/search.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="body-home">
  <header>
    <div class="main-header-top-bar">
      <img class="logo" src="images/Logo.svg" alt="Logo de la página" />
      <nav class="main-nav-bar">
        <ul>
          <li>
            <a>Inicio</a>
          </li>
          <li>
            <a>Tienda</a>
          </li>
          <li>
            <a>Contacto</a>
          </li>
        </ul>
      </nav>
      <div class="left-menu">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <span style="font-size: 12px; font-weight: bold;">|</span>
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </header>

  <main>
    <section class="dream-bike">
      <div class="get-dream-bike">
        <h2 class="dream-bike-title">Haz realidad tu bicicleta ideal</h2>
        <div class="bikes-customers">
          <div class="bikes-sold">
            <h3 class="text-after-title">+500</h3>
            <h3 class="text-after-title">Bicis ideales</h3>
          </div>
          <div class="vertical-line"></div>
          <div class="customers">
            <h3 class="text-after-title">+1000</h3>
            <h3 class="text-after-title">clientes</h3>
          </div>
        </div>
        <form class="search-bar" action="/" method="GET">
          <div class="search">
            <input type="text" placeholder="Buscar productos, marcas..." />
            <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </form>
      </div>
      <div class="forma-logo-container">
        <img class="logo-bici" src="images/Bike_2.png" alt="Bicicleta soñada" />
      </div>
    </section>

    <section class="best-selling-products">
      <div class="best-products">
        <h3 class="best-products-title">Productos más vendidos</h3>
        <p class="best-products-phrase">Las mejores marcas en el mercado al mejor precio.</p>
        <button class="see-more">Ver más</button>
      </div>
      <div class="example">
        <img src="images/Bike_1.png" alt="bici para ver">
      </div>
      <div class="example">
        <img src="images/Bike_3.png" alt="bici para ver">
      </div>
      <div class="example tres">
        <img src="images/Bike_4.png" alt="bici para ver">
      </div>
    </section>

    <section class="services">
      <div class="service-header">
        <h3>Nuestros servicios</h3>
        <p>Solicitá el servicio que necesitás.</p>
      </div>
      <div class="services-container">
        <img class="service-image" src="images/FixesLogo.png" alt="">
        <img class="service-image" src="images/RentalLogo.png" alt="">
        <img class="service-image" src="images/ParkingLogo.png" alt="">
      </div>
    </section>

  </main>

  <footer>
    <div class="footer-container">
      <div class="img-rights">
        <img class="footer-logo" src="/images/FooterLogo.png" alt="footer logo">
      </div>
      <div class="info-contact">
        <p class="info-text title">Te ayudamos a encontrar tu bici ideal</p>
        <p class="info-text">Llámanos al: +54 911-1111-1111 <br>
          o envíanos un correo electrónico a: <br> punto.pedal.bici@gmail.com</p>
        <div class="social-media">
          <i class="fa-brands fa-twitter fa-2xl"></i>
          <i class="fa-brands fa-whatsapp fa-2xl"></i>
          <i class="fa-brands fa-facebook fa-2xl"></i>
          <i class="fa-brands fa-twitter fa-sm"></i>
          <i class="fa-brands fa-whatsapp fa-sm"></i>
          <i class="fa-brands fa-facebook fa-sm"></i>
        </div>
      </div>
      <div class="mapouter">
        <iframe class="gmap_iframe"
          src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=tacuari 269&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        <p id="address">Tacuarí 269, C1071AAE CABA</p>
      </div>
    </div>
    <div class="footer-row">
      <p>©2023 all Right Reserved Term of use .pedal</p>
    </div>
  </footer>
</body>

</html>