<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>MercadoLiebre</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="body-home">
  <header>
    <div class="main-header-top-bar">
      <div class="logo">
        <img src="images/logo.svg" alt="Logo de la página" />
      </div>
      <!-- <form class="search-bar" action="/" method="GET">
        <div class="search">
          <input type="text" placeholder="Buscar productos, marcas..." />
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </form> -->
    </div>

    <nav class="main-nav-bar">
      <ul>
        <li>
          <a>Creá tu cuenta</a>
        </li>
        <li>
          <a>Ingresá</a>
        </li>
        <li>
          <a>Mis compras</a>
        </li>
      </ul>
    </nav>
    <div class="left-menu">
      <button><i class="fas fa-bars fa-2xl"></i></button>
    </div>
  </header>

  <main>
    <h2 class="titulares">Basado en tu última visita</h2>
    <section id="ultima-visita">
      <article class="product">
        <img src="images/cafetera.jpg" alt="Cafetera Moulinex" />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
        <p class="descripciones">Cafetera Moulinex</p>
      </article>
      <article class="product">
        <img src="images/macbook.jpg" alt="MacBook Pro 2019" />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
        </div>
        <p class="descripciones">MacBook Pro 2019</p>
      </article>
      <article class="product">
        <img src="images/samsung-galaxy.jpg" alt="Samsung Galaxy S10" />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
        </div>
        <p class="descripciones">Samsung Galaxy S10</p>
      </article>
      <article class="product">
        <img src="images/smarttv.jpg" alt='SmartTv Samsung 43"' />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
        </div>
        <p class="descripciones">SmartTv Samsung 43</p>
      </article>
    </section>
    <h2 class="titulares">Ofertas</h2>
    <section id="ofertas">
      <article class="product">
        <img src="images/cafetera.jpg" alt="Cafetera Moulinex" />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
        <p class="descripciones">Cafetera Moulinex</p>
      </article>
      <article class="product">
        <div></div>
        <img src="images/macbook.jpg" alt="MacBook Pro 2019" />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
        </div>
        <p class="descripciones">MacBook Pro 2019</p>
      </article>
      <article class="product">
        <img src="images/samsung-galaxy.jpg" alt="Samsung Galaxy S10" />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
        </div>
        <p class="descripciones">Samsung Galaxy S10</p>
      </article>
      <article class="product">
        <img src="images/smarttv.jpg" alt='SmartTv Samsung 43"' />
        <div class="icon-container">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="precio-descuento">
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
        </div>
        <p class="descripciones">SmartTv Samsung 43/p>
      </article>
    </section>
  </main>

  <footer>
    <div class="footer-container">
      <div class="footerElement">
        <i class="fa-solid fa-credit-card fa-2xl"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footerElement">
        <i class="fa-solid fa-gift fa-2xl"></i>
        <h3>Envío gratis desde $2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="footerElement">
        <i class="fa-solid fa-user-shield fa-2xl"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div class="footer-row">
      <p>© 1999-2023 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>

</html>