.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: var(--blanquito);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.arrow {
  position: absolute;
  left: 5vw;
  font-size: 20px;
}

.titulo {
  margin: 0;
  position: relative;
}

.productos-existentes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6vh;
}

.productos-existentes {
  display: flex;
  width: 90vw;
  height: 20vh;
  border-radius: 4px;
  margin: 15px;
  background-color: white;
  justify-content: space-evenly;
}

.productos-existentes-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 0px;
  justify-content: space-evenly;
  margin-left: 2vw;
  width: 10vw;
  word-wrap: break-word;
}

.productos-existentes img {
  margin-left: 1vw;
  max-width: 35%;
  max-height: 100%;
}

.precio {
  font-weight: 600;
}

.fixed-div {
  position: fixed;
  bottom: 10vw;
  right: 20px;
  background-color: var(--violeta-oscuro);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
}

.add-product {
  font-size: 40px;
  color: var(--blanquito);
}

.edit-icon {
  padding: 1vw;
  height: 0vw;
}

.delete-form {
  padding: 1vw;
}

.delete-icon {
  background-color: transparent;
  border: none;
  /* Elimina el borde del botón */
  cursor: pointer;
  /* Cambia el cursor a la forma de un clic */
  color: red;
}

.correo {
  font-size: 1vw;
}

#user-container,
#products-container {
  padding-bottom: 10vw;
}

@media (min-width: 768px) {
  .productos-existentes {
    width: 45vw;
  }
}

@media (min-width: 1200px) {
  .productos-existentes {
    width: 30vw;
  }
}