.form-crear {
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0vw 8vw 0vw 8vw;
}

.admin-title {
  padding: 3vw;
  text-align: center;
}

.button-form {
  width: 60%;
  height: 100%;
  color: var(--blanquito);
  background-color: var(--violeta-oscuro);
  border-radius: 5px;
  font-size: 3vw;
  cursor: pointer;
}

#buttons {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5vw;
}

.add-item-div {
  width: 20vw;
  height: 4vw;
  font-size: 2vw;
  bottom: 0px;
  top: 2vw;
  border-radius: 50px;
  color: var(--blanquito);
  background-color: var(--violeta-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#form-item {
  background: var(--blanquito);
  padding: 3.5vw;
  border-radius: 10px;
  background-color: var(--blanquito);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 45vw;
  height: 40vw;
}

#add-item-button {
  font-size: 2vw;
  text-align: center;
  padding: 0.3VW;
  cursor: pointer;
  padding: 0vw;
}

.btn-back {
  padding: 1vw;
  font-size: 2vw;
  position: fixed;
  top: 0.5vw;
}

.center-low-errors {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}