.titulo {
  margin: 15px;
}
.productos-existentes-container {
  display: flex;
  flex-wrap: wrap;
}
.productos-existentes {
  display: flex;
  width: 90vw;
  height: auto;
  border: 1px black solid;
  border-radius: 6px;
  margin: 15px;
  background-color: white;
}
.productos-existentes-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  margin-left: 3vw;
}
.productos-existentes img {
  width: 33%;
  margin-left: 1vw;
}
.precio {
  font-weight: 600;
}
@media (max-width: 767px) {
  .productos-existentes-container {
    justify-content: center;
  }
  .titulo {
    margin: 15px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .productos-existentes {
    width: 45vw;
  }
}
@media (min-width: 1200px) {
  .productos-existentes {
    width: 30vw;
  }
}
