/*HEADER*/
.login-header {
    display: flex;
    height: 30vw;
}

.center-img {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.logo-header {
    width: 100%;
}

.center-img img {
    width: 100%;
}

.equis {
    font-size: 6vw;
    padding: 1vw;
}

.equis-link {
    margin: auto;
    text-decoration: none;
}

/*End of HEADER*/

/*Main*/
.login-main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.login-title {
    font-size: 5vw;
    text-align: center;
}

.login-subtitle {
    font-size: 3vw;
}

.check-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .check-remind {
    display: flex;
    align-items: center;
  }
  
  .check-remind input[type="checkbox"] {
    margin-right: 6vh;
  }
  
  .forgot-password {
    font-size: 3vw; 
    margin-top: 3vh;
  }

.Log-In {
    background-color: var(--violeta-oscuro);
    color: var(--blanquito);
    border: none;
    height: 100%;
    width: 80%;
    border-radius: 1vw;
}


/*Propiedades*/

.propiedades-container {
    display: flex;
    flex-direction: column;
    height: 90vw;
    justify-content: space-evenly;
}

.propiedades {
    display: flex;
    flex-direction: column;
}

#my-Checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 1px solid var(--violeta-oscuro);
    cursor: pointer;
    background-color: var(--blanquito);
    ;

}

#my-Checkbox:checked {
    background-color: var(--violeta-oscuro);
}




.input-form {
    background-color: var(--blanquito);
    outline: none;
    border: none;
    opacity: 0.75;
    border-bottom: 2px solid var(--marronsito);
}

.center-button-login {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: flex-end;
}

.text {
    font-size: 3.5vw;
    width: 65%;
}

/* Opciones */

.opciones-container {
    height: 85vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.opciones {
    display: flex;
    justify-content: space-around;
    height: 3vw;
    align-items: center;
}

.center-button {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: flex-end;
}

.login-button {
    background-color: var(--naranja);
    color: var(--blanquito);
    border: none;
    height: 100%;
    width: 80%;
    border-radius: 1vw;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 769px) {

    .text {
        font-size: 1.2vw;
        width: 80%;
    }

    .login-form {
        display: flex;
        flex-direction: row;
        padding: 4vw;
        justify-content: space-evenly;
    }

    .propiedades-container {
        width: 40%;
        height: 30vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .opciones-container {
        width: 40%;
        height: 30vw;
        justify-content: space-between;
    }

    .login-title {
        font-size: 2vw;
        padding-top: 1vw;
    }

    .login-subtitle {
        font-size: 1.5vw;
    }

    #my-Checkbox {
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
    }

    .login-button {
        width: 100%;
    }

    .login-header {
        height: 8vw;
    }

    .forgot-password {
        font-size: 0.9vw; 
        margin-top: 3vh;
      }

    .equis {
        font-size: 2vw;
    }

    .input-form {
        font-size: 1.5vw;
    }


}