@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300&display=swap');

/* PALETA DE COLORES */
:root {
    --blanco: #f1f0ec;
    --violetaOscuro: #402054;
    --azul: #782d44;
    --marron: #b03a35;
    --naranja: #e94726;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--blanco);
    font-family: Comfortaa;
    color: var(--violetaOscuro);
}

h1,
h2 {
    font-family: Poppins;
}

.fa-solid {
    color: var(--violetaOscuro);
}

.centerImg{
    display: flex;
    justify-content: center;
}

.registerMAIN {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: auto;
}

.propiedades {
    display: flex;
    flex-direction: column;
    height: 12vh; 
}

.registerPROPERTIES {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.propiedades2 {
    display: flex;
}


/* BOTONES */
.line,
.line2 {
    background-color: var(--blanco);
    outline: none;
    border: none;
    opacity: 0.75;
    border-bottom: 2px solid #434343;
}

/* QUITANDO BOTONES DE INCREMENTO Y DECREMENTO */
.line2::-webkit-inner-spin-button,
.line2::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
}

.prefixLine {
    background-color: var(--blanco);
    outline: none;
    border: none;
    border-radius: 0;
    opacity: 0.75;
    border-bottom: 2px solid #434343;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.registerButton {
    background-color: var(--violetaOscuro);
    color: var(--blanco);
    border: none;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bebebe;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--blanco);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--violetaOscuro);
}

input:focus+.slider {
    box-shadow: 0 0 1px #402054;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.centerButton{
    display: flex;
    justify-content: center;
}

button {
    font-family: Poppins;
    width: 331px;
    height: 56px;
    background: #402054;
    border-radius: 12px;
}


/* TAMAÑO FUENTES y ESPACIADOS */

.Register-title {
    font-size: 28px;
}

.Register-subtitle {
    font-size: 18px;
}

.labels {
    font-size: 14px;
}

.prefixLabel {
    font-size: 11px;
}

.text {
    font-size: 14px;
}

.policy{
    color: var(--naranja);
}



/* MEDIA QUERIES */
@media (min-width: 1024px) {

    .Register-title {
        text-align: center;
    }

}