/*HEADER*/
.register-header {
    display: flex;
    height: 30vw;
    padding: 3vw;
}

.center-img {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.logo-header {
    width: 100%;
}

.center-img img {
    width: 100%;
}

.flecha {
    font-size: 6vw;
}

/*End of HEADER*/

/*Main*/
.register-main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.register-title {
    font-size: 5vw;
}

.register-subtitle {
    font-size: 3vw;
    margin: 8vw 0vw 12vw 0vw;
}

.propiedades {
    display: flex;
    flex-direction: column;
    height: 15vw;
}

.register-telefono {
    display: flex;
}

.telefono {
    padding-left: 2vw;
}

.prefix-line {
    background-color: var(--blanquito);
    outline: none;
    border: none;
    border-radius: 0;
    opacity: 0.75;
    border-bottom: 2px solid var(--marronsito);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-form {
    background-color: var(--blanquito);
    outline: none;
    border: none;
    opacity: 0.75;
    border-bottom:  2px solid var(--marronsito);
}

.labels {
    font-size: 14px;
}

.text {
    font-size: 14px;
}

.policy {
    color: var(--naranja);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bebebe;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.opciones{
    margin: 8vw 0vw;
}

.center-button{
    display: flex;
    height: 20vw;
    justify-content: center;
    align-items: center;
}

.register-button {
    background-color: var(--violeta-oscuro);
    color: var(--blanquito);
    border: none;
    height: 55%;
    width: 60%;
    border-radius: 1vw;
}

/*Efectos*/

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--blanquito);
    -webkit-transition: .4s;
    transition: .4s;
}

.input-form::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input:checked+.slider {
    background-color: var(--violeta-oscuro);
}

input:focus+.slider {
    box-shadow: 0 0 1px #402054;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* MEDIA QUERIES */