<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/inputs.css" />
    <link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
    <h1 class="admin-title">Crear/Editar Producto</h1>

</body>

</html>