<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
     <%- include('../partials/header') %>
     <link rel="stylesheet" href="css/style-carrito.css">
  </header>
  
  
    <main>
        <div class="carrito-header">
          <h1>Carrito de compras</h1>
        </div>
      <section class="carrito">
        <article class="carrito-items">
            <img src="/images/bici1.jpg" alt="">
            <div class="carrito-item-det">
              <span class="carrito-item-titulo">bici #1</span>
              
              <div class="cantidad">
                <i class="fa-solid fa-minus restar-cantidad"></i>
                <input type="text" value="1" class="carrito-item-cantidad" disabled>
                <i class="fa-solid fa-plus sumar-cantidad"></i>
              </div>
              <span class="carrito-item-precio">$1.300,000</span>
            </div>
            <span class="boton-eliminar">
            <i class="fa-solid fa-trash"></i>
          </span>
        </article>
        
         <article class="carrito-items">

            <img src="/images/bici2.jpg"  alt="">
            <div class="carrito-item-det">
              <span class="carrito-item-titulo">bici #2</span>
              
              <div class="cantidad">
                <i class="fa-solid fa-minus restar-cantidad"></i>
                <input type="text" value="2" class="carrito-item-cantidad" disabled>
                <i class="fa-solid fa-plus sumar-cantidad"></i>
              </div>
              <span class="carrito-item-precio">$1.000,000</span>
            </div>
          <span class="boton-eliminar">
            <i class="fa-solid fa-trash"></i>
          </span>
        </article>
      </section>
      <div class="menu-pago">
        <div class="centrar">
        <strong>Total carrito de compras ($)</strong>
        <p>subtotal</p>
        <p>envio</p>
        <p>impuestos</p>
        </div>
      <div class="carrito-total">
        <div class="fila">
          <strong>Tu total</strong>
          <span class="carrito-precio-total">$3.300,000</span>
        </div>
        <button class="boton-pagar"> pagar <i class="fa-solid fa-bag-shopping icono-carrito"></i></button>
      </div>
      </div>
      
    </main>

    <footer>
      <%- include('../partials/footer') %>
    </footer>

</body>

</html>