<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/inputs.css" />
</head>

<body class="login-body">

    <header class="login-header">
        <a class="equis-link" href="/">
            <i class="fa-solid fa-xmark equis"></i>
        </a>
        <div class="logo-header">
            <a class="center-img" href="">
                <img src="/images/Logo.svg" alt="Logo de la página" />
            </a>
        </div>
    </header>

    <main class="login-main">
        <h1 class="login-title">INICIA SESIÓN O CREA TU CUENTA</h1>

        <form action="/login" method="post" class="login-form">

            <div class="propiedades-container">
                <h2 class="login-subtitle">¿YA TIENES UNA CUENTA? INICIA SESIÓN</h2>

                <div class="propiedades">
                    <input type="email" placeholder="Ejemplo" name="email" id="correo" class="input-form" required>
                    <label class="labels" for="correo">Ingresa tu correo electrónico</label>
                </div>

                <div class="propiedades">
                    <input type="password" placeholder="Ejemplo" name="password" id="contraseña" class="input-form" required>
                    <label class="labels" for="contraseña">Contraseña</label>
                </div>

                <% if (error) { %>
                    <p class="error-message"><%= error %></p>
                <% } %>

                <div class="check-login">
                    <div class="check-remind">
                        <input type="checkbox" name="remember" id="my-Checkbox">
                        <span>Recuérdame</span>
                    </div>
                    <div class="forgot-password">
                        <span>¿Has olvidado la contraseña?</span>
                    </div>
                </div>

                <div class="center-button-login">
                    <button type="submit" class="Log-In" >INICIAR SESIÓN</button>
                </div>

            </div>


            <div class="opciones-container">
                <h2 class="login-subtitle">¿NO TIENES CUENTA? REGÍSTRATE</h2>
                <div class="opciones">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="text">Haz el seguimiento de tus pedidos</p>
                </div>

                <div class="opciones">
                    <i class="fa-solid fa-house-circle-check"></i>
                    <p class="text">Guarda tus datos de envío y de pago para ahorrar tiempo en tus compras siguientes
                    </p>
                </div>

                <div class="opciones">
                    <i class="fa-solid fa-rotate"></i>
                    <p class="text">Podrás realizar devoluciones online</p>
                </div>

                <div class="center-button">
                    <a href="/register" class="login-button"> CREAR CUENTA </a>
                </div>

        </form>


    </main>


</body>

</html>