<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/productos.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <!--  <header><%- include('../partials/header') %></header> -->
    <main>
      <div class="ofertas">
        <div class="ofertas-titulo">Ofertas</div>
        <div class="productos-en-tienda">
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
        </div>
      </div>
      <div class="nuestros-productos">
        <div class="nuestros-prductos-titulo">Nuestros Productos</div>
        <div class="productos-en-tienda">
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
        </div>
      </div>
      <div class="basado-en-tu-ultima-visita">
        <div class="productos-en-tienda-titulo">Basado en tu última visita</div>
        <div class="productos-en-tienda">
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
          <div class="productos-en-tienda-element">
            <img src="/images/bicicleta-volta1.jpg" alt="" />
            <p>$148.000</p>
            <p class="descripcion">Biclcleta x</p>
          </div>
        </div>
      </div>
    </main>
    <!--     <footer><%- include('../partials/footer') %></footer> -->
  </body>
</html>
